<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Départ de direction</title>
</head>
<body>
    <div class="container">
        <h1>Fin mandat de direction {{name}}</h1>
        <p>Conseil d'Administration - Magasin du Coin</p>
        <p class="user-id">Votre ID Utilisateur: {{user_id}}</p>
        <p class="user-id">Votre adresse courriel: {{email}}</p>
        <p class="user-id">Supprimé à {{deletion_date}}</p>
    </div>
</body>
</html>